.bootom{
  display: flex;
  padding: 0px;
  margin: 70px 0px 100px 0px;
}

.column1{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin-left: 90px;
}

.column2{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px 0px 0px 65px;
}

.column3{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px 65px 0px 65px;
}

.column4{
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin-right: 90px;
}

.images{
  width: 100px;
}

.bootom p{
  padding: 0px;
  margin: 0px;
  color: gray;
}

.bootom h3{
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

.cover {
  margin-top: 0;
  background-color: #282C34;
  margin-left: 30px;
  margin-right: 30px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-cover {
  box-sizing: border-box;
  padding: 15px 70px 0 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-cover {
  text-align: left;
  width: 40%;
  margin: 0px 0px 0px 70px;
  padding: 0px;
}
.header-cover>h1 {
  font-size: 5rem;
  line-height: 70px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.header-cover>p {
  margin-top: 20px;
  width: 80%;
}
.header-cover>button {
  padding: 20px 30px;
  border-radius: 7%;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 50px;
}



